<a href="https://colab.research.google.com/github/RamyahariniLogaiyan/Metro_Car/blob/main/TravelTide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np
import sqlalchemy as sa
import seaborn as sns

In [2]:
db_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide"

In [3]:
engine = sa.create_engine(db_url)

In [4]:
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

In [5]:
inspector = sa.inspect(engine)
table_names = inspector.get_table_names()
print(table_names)

['users', 'hotels', 'flights', 'sessions']

In [87]:
df_users = pd.DataFrame(pd.read_sql(sa.text("SELECT * FROM users"),connection))
pd.read_sql(sa.text("SELECT * FROM users"),connection).describe()

            user_id  home_airport_lat  home_airport_lon
count  1.020926e+06      1.020926e+06      1.020926e+06
mean   5.104625e+05      3.855352e+01     -9.392036e+01
std    2.947161e+05      6.120248e+00      1.809645e+01
min    0.000000e+00      2.131600e+01     -1.579270e+02
25%    2.552312e+05      3.394200e+01     -1.120080e+02
50%    5.104625e+05      3.929700e+01     -8.997700e+01
75%    7.656938e+05      4.227600e+01     -7.745600e+01
max    1.020925e+06      6.125100e+01     -6.349900e+01

In [7]:
"""df_users.to_csv('/content/sample_data/users.csv',index=False)"""

"df_users.to_csv('/content/sample_data/users.csv',index=False)"

In [8]:
df_users.shape[(0)]

1020926

In [9]:
df_hotels = pd.read_sql(sa.text("SELECT * FROM hotels"),connection)

In [10]:
#""" df_hotels.to_csv('/content/sample_data/hotels.csv',index=False)

In [11]:
pd.read_sql(sa.text("SELECT * FROM hotels"),connection).info()
pd.read_sql(sa.text("SELECT * FROM hotels"),connection).describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918617 entries, 0 to 1918616
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   trip_id             object
 1   hotel_name          object
 2   nights              int64
 3   rooms               int64
 4   check_in_time       datetime64[ns]
 5   check_out_time      datetime64[ns]
 6   hotel_per_room_usd  float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(2)
memory usage: 102.5+ MB

,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
count,1.918617e+06,1.918617e+06,1918617,1918617,1.918617e+06
mean,4.271452e+00,1.189341e+00,2022-12-28 01:29:14.870725632,2023-01-01 19:18:30.184679168,1.773054e+02
min,-2.000000e+00,0.000000e+00,2021-04-06 10:40:44.175000,2021-04-08 11:00:00,8.000000e+00
25%,1.000000e+00,1.000000e+00,2022-09-15 19:40:52.004999936,2022-09-20 11:00:00,9.900000e+01
50%,3.000000e+00,1.000000e+00,2023-02-09 10:56:12.884999936,2023-02-13 11:00:00,1.480000e+02
75%,6.000000e+00,1.000000e+00,2023-05-07 13:23:32.055000064,2023-05-12 11:00:00,2.220000e+02
max,1.070000e+02,6.000000e+00,2024-07-20 17:08:06.585000,2024-08-13 11:00:00,2.377000e+03
std,4.488629e+00,4.879645e-01,NaN,NaN,1.171834e+02

In [12]:
pd.read_sql(sa.text("SELECT * FROM flights"),connection).info()
pd.read_sql(sa.text("SELECT * FROM flights"),connection).describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1901038 entries, 0 to 1901037
Data columns (total 13 columns):
 #   Column                   Dtype
---  ------                   -----
 0   trip_id                  object
 1   origin_airport           object
 2   destination              object
 3   destination_airport      object
 4   seats                    int64
 5   return_flight_booked     bool
 6   departure_time           datetime64[ns]
 7   return_time              datetime64[ns]
 8   checked_bags             int64
 9   trip_airline             object
 10  destination_airport_lat  float64
 11  destination_airport_lon  float64
 12  base_fare_usd            float64
dtypes: bool(1), datetime64[ns](2), float64(3), int64(2), object(5)
memory usage: 175.9+ MB

,seats,departure_time,return_time,checked_bags,destination_airport_lat,destination_airport_lon,base_fare_usd
count,1.901038e+06,1901038,1812304,1.901038e+06,1.901038e+06,1.901038e+06,1.901038e+06
mean,1.250864e+00,2023-01-08 23:52:40.265286912,2023-01-14 08:25:00.002648832,6.082093e-01,3.812213e+01,-8.329177e+01,6.443787e+02
min,0.000000e+00,2021-04-06 07:00:00,2021-04-09 07:00:00,0.000000e+00,-3.700800e+01,-1.579270e+02,0.000000e+00
25%,1.000000e+00,2022-09-29 07:00:00,2022-10-04 07:00:00,0.000000e+00,3.353500e+01,-1.123830e+02,2.026600e+02
50%,1.000000e+00,2023-02-15 08:00:00,2023-02-20 07:00:00,1.000000e+00,3.985800e+01,-8.775200e+01,3.960500e+02
75%,1.000000e+00,2023-05-18 07:00:00,2023-05-23 07:00:00,1.000000e+00,4.240900e+01,-7.377900e+01,6.375300e+02
max,1.200000e+01,2024-07-19 22:00:00,2024-08-19 18:00:00,1.300000e+01,5.878900e+01,1.747920e+02,2.998792e+04
std,6.404772e-01,NaN,NaN,7.172822e-01,8.062308e+00,4.447306e+01,1.097363e+03

In [13]:
df_flights = pd.read_sql(sa.text("SELECT * FROM flights"),connection)

In [14]:
#"""df_flights.to_csv('/content/sample_data/flights.csv',index=False)

In [15]:
df_users.isnull().sum()

user_id             0
birthdate           0
gender              0
married             0
has_children        0
home_country        0
home_city           0
home_airport        0
home_airport_lat    0
home_airport_lon    0
sign_up_date        0
dtype: int64

In [16]:
df_sessions = pd.read_sql(sa.text("SELECT * FROM sessions"),connection)

In [17]:
#"""df_sessions.to_csv('/content/sample_data/sessions.csv',index=False)

In [18]:
pd.read_sql(sa.text("SELECT * FROM sessions"),connection).info()
pd.read_sql(sa.text("SELECT * FROM sessions"),connection).describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5408063 entries, 0 to 5408062
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   session_id              object
 1   user_id                 int64
 2   trip_id                 object
 3   session_start           datetime64[ns]
 4   session_end             datetime64[ns]
 5   flight_discount         bool
 6   hotel_discount          bool
 7   flight_discount_amount  float64
 8   hotel_discount_amount   float64
 9   flight_booked           bool
 10  hotel_booked            bool
 11  page_clicks             int64
 12  cancellation            bool
dtypes: bool(5), datetime64[ns](2), float64(2), int64(2), object(2)
memory usage: 355.9+ MB

,user_id,session_start,session_end,flight_discount_amount,hotel_discount_amount,page_clicks
count,5.408063e+06,5408063,5408063,885796.000000,691380.000000,5.408063e+06
mean,3.988590e+05,2022-12-12 02:37:01.270522880,2022-12-12 02:40:35.487090944,0.139765,0.110950,1.876603e+01
min,0.000000e+00,2021-04-01 00:42:00,2021-04-01 00:43:40,0.050000,0.050000,0.000000e+00
25%,1.643270e+05,2022-08-30 12:52:00,2022-08-30 12:57:44.500000,0.100000,0.050000,7.000000e+00
50%,3.641720e+05,2023-01-28 09:13:00,2023-01-28 09:16:45,0.100000,0.100000,1.500000e+01
75%,6.031520e+05,2023-04-22 20:33:00,2023-04-22 20:37:01,0.200000,0.150000,2.300000e+01
max,1.020925e+06,2023-07-28 23:57:55,2023-07-29 01:57:55,0.850000,0.650000,2.421000e+03
std,2.707599e+05,NaN,NaN,0.085191,0.062021,2.218070e+01

In [19]:
df_flights = pd.read_sql(sa.text("SELECT * FROM flights"),connection)

In [20]:
df_data = (pd.merge(df_sessions,df_users,on = 'user_id',how = 'left')
             .merge(df_flights,on = 'trip_id',how = 'left')
             .merge(df_hotels,on = 'trip_id',how = 'left'))
df_data_copy = df_data

In [21]:
df_data.describe()
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5408063 entries, 0 to 5408062
Data columns (total 41 columns):
 #   Column                   Dtype
---  ------                   -----
 0   session_id               object
 1   user_id                  int64
 2   trip_id                  object
 3   session_start            datetime64[ns]
 4   session_end              datetime64[ns]
 5   flight_discount          bool
 6   hotel_discount           bool
 7   flight_discount_amount   float64
 8   hotel_discount_amount    float64
 9   flight_booked            bool
 10  hotel_booked             bool
 11  page_clicks              int64
 12  cancellation             bool
 13  birthdate                object
 14  gender                   object
 15  married                  bool
 16  has_children             bool
 17  home_country             object
 18  home_city                object
 19  home_airport             object
 20  home_airport_lat         float64
 21  home_airport_lon         float64
 22  sign_up_date             object
 23  origin_airport           object
 24  destination              object
 25  destination_airport      object
 26  seats                    float64
 27  return_flight_booked     object
 28  departure_time           datetime64[ns]
 29  return_time              datetime64[ns]
 30  checked_bags             float64
 31  trip_airline             object
 32  destination_airport_lat  float64
 33  destination_airport_lon  float64
 34  base_fare_usd            float64
 35  hotel_name               object
 36  nights                   float64
 37  rooms                    float64
 38  check_in_time            datetime64[ns]
 39  check_out_time           datetime64[ns]
 40  hotel_per_room_usd       float64
dtypes: bool(7), datetime64[ns](6), float64(12), int64(2), object(14)
memory usage: 1.4+ GB

In [22]:
# df_data.to_csv('/content/sample_data/TravelTide.csv',index=False)

In [23]:
filtered_data = df_data_copy[df_data_copy["session_start"] > '2023-01-04']

In [24]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3102850 entries, 0 to 5408062
Data columns (total 41 columns):
 #   Column                   Dtype
---  ------                   -----
 0   session_id               object
 1   user_id                  int64
 2   trip_id                  object
 3   session_start            datetime64[ns]
 4   session_end              datetime64[ns]
 5   flight_discount          bool
 6   hotel_discount           bool
 7   flight_discount_amount   float64
 8   hotel_discount_amount    float64
 9   flight_booked            bool
 10  hotel_booked             bool
 11  page_clicks              int64
 12  cancellation             bool
 13  birthdate                object
 14  gender                   object
 15  married                  bool
 16  has_children             bool
 17  home_country             object
 18  home_city                object
 19  home_airport             object
 20  home_airport_lat         float64
 21  home_airport_lon         float64
 22  sign_up_date             object
 23  origin_airport           object
 24  destination              object
 25  destination_airport      object
 26  seats                    float64
 27  return_flight_booked     object
 28  departure_time           datetime64[ns]
 29  return_time              datetime64[ns]
 30  checked_bags             float64
 31  trip_airline             object
 32  destination_airport_lat  float64
 33  destination_airport_lon  float64
 34  base_fare_usd            float64
 35  hotel_name               object
 36  nights                   float64
 37  rooms                    float64
 38  check_in_time            datetime64[ns]
 39  check_out_time           datetime64[ns]
 40  hotel_per_room_usd       float64
dtypes: bool(7), datetime64[ns](6), float64(12), int64(2), object(14)
memory usage: 849.3+ MB

In [25]:
session_counts = filtered_data.groupby("user_id")["session_id"].count()


user_ids_with_many_sessions = session_counts[session_counts > 7].index

user_ids_with_many_sessions

# Step 3: Filter the original DataFrame to include only those user_ids
aggregated_data = filtered_data[filtered_data['user_id'].isin(user_ids_with_many_sessions)]
aggregated_data

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
411,217114-58aa159ca5ef4f1e81a875f8a0ac244e,217114,None,2023-01-11 21:42:00,2023-01-11 21:43:21,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
491,220725-9be157485c6c46cbacb75cc3bd7d9188,220725,None,2023-01-11 07:54:00,2023-01-11 07:54:37,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2877,324191-4305004b531646608269a010656d9e5d,324191,None,2023-01-11 10:48:00,2023-01-11 10:48:30,True,True,0.15,0.15,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
4341,374340-a15ce42e77f14268a3b64395e69d5142,374340,None,2023-01-11 20:22:00,2023-01-11 20:23:29,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
4375,375160-5e1dd9e68d35493d9d1c1451bb9484b0,375160,None,2023-01-11 13:27:00,2023-01-11 13:27:57,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5405035,522761-20a0f600b5ce4131bc85c43546169cf4,522761,522761-0be9e41e404847619e1495fd95274420,2023-01-10 21:19:00,2023-01-10 21:21:28,False,False,NaN,NaN,True,...,American Airlines,35.214,-80.943,564.57,Crowne Plaza - charlotte,1.0,2.0,2023-01-18 15:50:56.265,2023-01-20 11:00:00,506.0
5405062,522788-a5dc6ebb9b0b44748e15aef1e1d24562,522788,None,2023-01-10 18:52:00,2023-01-10 18:52:28,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
5405074,522800-f05e78aafe834cfcb81346b9f7ff6607,522800,522800-4625724ec82b4e3e942278c92bacbdf9,2023-01-10 20:36:00,2023-01-10 20:39:20,False,False,NaN,NaN,True,...,Conviasa,29.529,-98.279,467.87,Accor - san antonio,4.0,1.0,2023-01-17 12:10:05.205,2023-01-22 11:00:00,293.0
5405083,522809-edca51439f00492e88e5da65efc8bb44,522809,None,2023-01-10 17:15:00,2023-01-10 17:15:57,True,False,0.05,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
5407873,181157-0313da17625745eabc42a83a14b98ce2,181157,181157-9d86219fb6574ef291b265f78e291c04,2023-01-11 07:36:00,2023-01-11 07:41:15,True,False,0.15,NaN,True,...,Air France,35.393,-97.601,536.03,Crowne Plaza - oklahoma city,7.0,4.0,2023-01-16 09:50:38.130,2023-01-23 11:00:00,164.0

In [40]:
aggregated_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49211 entries, 411 to 5407873
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   session_id               49211 non-null  object
 1   user_id                  49211 non-null  int64
 2   trip_id                  16702 non-null  object
 3   session_start            49211 non-null  datetime64[ns]
 4   session_end              49211 non-null  datetime64[ns]
 5   flight_discount          49211 non-null  bool
 6   hotel_discount           49211 non-null  bool
 7   flight_discount_amount   8282 non-null   float64
 8   hotel_discount_amount    6205 non-null   float64
 9   flight_booked            49211 non-null  bool
 10  hotel_booked             49211 non-null  bool
 11  page_clicks              49211 non-null  int64
 12  cancellation             49211 non-null  bool
 13  birthdate                49211 non-null  object
 14  gender                   49211 non-null  object
 15  married                  49211 non-null  bool
 16  has_children             49211 non-null  bool
 17  home_country             49211 non-null  object
 18  home_city                49211 non-null  object
 19  home_airport             49211 non-null  object
 20  home_airport_lat         49211 non-null  float64
 21  home_airport_lon         49211 non-null  float64
 22  sign_up_date             49211 non-null  object
 23  origin_airport           14270 non-null  object
 24  destination              14270 non-null  object
 25  destination_airport      14270 non-null  object
 26  seats                    14270 non-null  float64
 27  return_flight_booked     14270 non-null  object
 28  departure_time           14270 non-null  datetime64[ns]
 29  return_time              13652 non-null  datetime64[ns]
 30  checked_bags             14270 non-null  float64
 31  trip_airline             14270 non-null  object
 32  destination_airport_lat  14270 non-null  float64
 33  destination_airport_lon  14270 non-null  float64
 34  base_fare_usd            14270 non-null  float64
 35  hotel_name               14726 non-null  object
 36  nights                   14726 non-null  float64
 37  rooms                    14726 non-null  float64
 38  check_in_time            14726 non-null  datetime64[ns]
 39  check_out_time           14726 non-null  datetime64[ns]
 40  hotel_per_room_usd       14726 non-null  float64
dtypes: bool(7), datetime64[ns](6), float64(12), int64(2), object(14)
memory usage: 13.5+ MB

In [27]:
aggregated_data["nights"].isna()

411         True
491         True
2877        True
4341        True
4375        True
           ...
5405035    False
5405062     True
5405074    False
5405083     True
5407873    False
Name: nights, Length: 49211, dtype: bool

In [28]:
aggregated_data[aggregated_data['nights'].isna()].fillna(0)

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
411,217114-58aa159ca5ef4f1e81a875f8a0ac244e,217114,0,2023-01-11 21:42:00,2023-01-11 21:43:21,False,False,0.00,0.00,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0
491,220725-9be157485c6c46cbacb75cc3bd7d9188,220725,0,2023-01-11 07:54:00,2023-01-11 07:54:37,False,False,0.00,0.00,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0
2877,324191-4305004b531646608269a010656d9e5d,324191,0,2023-01-11 10:48:00,2023-01-11 10:48:30,True,True,0.15,0.15,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0
4341,374340-a15ce42e77f14268a3b64395e69d5142,374340,0,2023-01-11 20:22:00,2023-01-11 20:23:29,False,False,0.00,0.00,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0
4375,375160-5e1dd9e68d35493d9d1c1451bb9484b0,375160,0,2023-01-11 13:27:00,2023-01-11 13:27:57,False,False,0.00,0.00,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5405012,522738-afd9dd357676457c800d101241fa870d,522738,0,2023-01-10 18:11:00,2023-01-10 18:11:23,False,False,0.00,0.00,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0
5405019,522745-46600ee228314b6cb4f15f14f7b732e5,522745,0,2023-01-10 22:19:00,2023-01-10 22:19:42,False,False,0.00,0.00,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0
5405022,522748-f9797a94a0ca4594985a8ccec0685900,522748,0,2023-01-10 06:21:00,2023-01-10 06:22:07,False,True,0.00,0.10,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0
5405062,522788-a5dc6ebb9b0b44748e15aef1e1d24562,522788,0,2023-01-10 18:52:00,2023-01-10 18:52:28,False,False,0.00,0.00,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0
5405083,522809-edca51439f00492e88e5da65efc8bb44,522809,0,2023-01-10 17:15:00,2023-01-10 17:15:57,True,False,0.05,0.00,False,...,0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0

In [29]:
aggregated_data[aggregated_data['nights']<0]

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
25638,490629-8840588825724e2f80f26155170240d2,490629,490629-a665c40e82c0472c9ebe27b8ca91ec76,2023-01-12 07:10:00,2023-01-12 07:12:23,False,False,NaN,NaN,True,...,Porter Airlines,43.862,-79.370,90.89,Hilton - toronto,-1.0,1.0,2023-01-19 09:42:32.580,2023-01-18 11:00:00,241.0
43774,523273-7f6d09984ffd4facb1482a557eb0fb7d,523273,523273-70681fe70d5c4f0293ccb987f8c4fc4b,2023-01-13 03:34:00,2023-01-13 03:36:25,False,False,NaN,NaN,True,...,AeroMéxico,29.529,-98.279,462.18,Fairmont - san antonio,-1.0,1.0,2023-01-20 19:18:09.990,2023-01-20 11:00:00,57.0
76881,531467-37873741a437479085df4fdcdf0db771,531467,531467-e2ce42785562499389644d6233b7e8af,2023-01-15 22:19:00,2023-01-15 22:23:17,False,True,NaN,0.1,True,...,Lufthansa,45.517,-73.417,965.93,Fairmont - montreal,-1.0,2.0,2023-01-24 13:30:10.260,2023-01-24 11:00:00,609.0
77477,532063-da364d504ea94163b83807c98b47f25d,532063,532063-c4ec4ea4518841909efb934203f18974,2023-01-15 12:24:00,2023-01-15 12:26:48,False,False,NaN,NaN,True,...,Delta Air Lines,36.124,-86.678,138.79,Banyan Tree - nashville,-1.0,1.0,2023-01-20 11:53:04.830,2023-01-19 11:00:00,110.0
77629,532215-c949d64f81bd43c88ba38bf65d9b44ac,532215,532215-8cf657f0bc474db38b0c09bd49c13901,2023-01-15 18:41:00,2023-01-15 18:44:09,False,False,NaN,NaN,True,...,Ryanair,43.862,-79.370,245.73,InterContinental - toronto,-1.0,1.0,2023-01-23 15:33:30.015,2023-01-23 11:00:00,443.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5302129,509282-0a1d2563e5904293918e4eadcd262bf9,509282,509282-a2bf5b84091b47a8ab3f12c95f8dd863,2023-01-04 17:07:00,2023-01-04 17:09:34,False,False,NaN,NaN,True,...,Allegiant Air,40.640,-73.779,674.77,Extended Stay - new york,-1.0,1.0,2023-01-10 15:51:29.790,2023-01-10 11:00:00,708.0
5354258,515751-c9d9fb9a27484a9b95582d9e466d9a66,515751,515751-e10d0f90fb3647098bc3c9cf531c1e86,2023-01-07 12:19:00,2023-01-07 12:22:03,False,False,NaN,NaN,True,...,Allegiant Air,35.042,-89.977,262.09,Banyan Tree - memphis,-1.0,1.0,2023-01-17 17:56:12.885,2023-01-17 11:00:00,116.0
5355124,516616-775ff99c81bf4e84a9676ee25d5914bb,516616,516616-de3eb33dbe4e4e0bafbcbc0017c2cd46,2023-01-07 17:25:00,2023-01-07 17:33:39,False,False,NaN,NaN,True,...,Alaska Airlines,36.776,-119.718,751.06,Banyan Tree - fresno,-1.0,1.0,2023-01-16 20:56:32.325,2023-01-16 11:00:00,78.0
5370833,517732-b2ed14a5504846e2aef6994db2b4914f,517732,517732-9f5d6a62cd4647bc93f5d4aa8402d9d5,2023-01-08 21:30:00,2023-01-08 21:32:31,True,False,0.1,NaN,True,...,Emirates,40.640,-73.779,720.82,Crowne Plaza - new york,-1.0,1.0,2023-01-19 13:52:45.840,2023-01-19 11:00:00,158.0
5371425,518324-a835315859a74e70bcbdc6339c516faf,518324,518324-322ae705590744379ae7f288e2f4b9a9,2023-01-08 18:10:00,2023-01-08 18:12:39,False,False,NaN,NaN,True,...,United Airlines,29.607,-95.159,351.94,Extended Stay - houston,-1.0,1.0,2023-01-16 11:24:43.875,2023-01-15 11:00:00,140.0

In [30]:
aggregated_data['nights'] = aggregated_data['nights'].apply(lambda x: 1 if x < 0 else x)

<ipython-input-30-141b655ec354>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aggregated_data['nights'] = aggregated_data['nights'].apply(lambda x: 1 if x < 0 else x)

In [69]:


cancelled_trips_data = aggregated_data[aggregated_data['cancellation'] == True]


# Step 3: Create the Cancelled_trips DataFrame
Cancelled_trips = cancelled_trips_data[['trip_id']]

In [70]:
Cancelled_trips

                                         trip_id
2943190  171470-3c9552d5b3b0401e82cb943b28eef629
2943716  174997-a7c3a96620594e849a2345ac4e0bd45d
2944653  182191-de32473e56244ac3bed8490f76398b2f
2948077  204997-303a3759d5814673b7c60db793d46cdd
2970749  498500-8625a588e269412d9c6ac9ddbbb19a9d
...                                          ...
3016585  589228-7cbd8bd73eed4c549a0074919e71fdc8
3016592  671151-a25acb9062764a168fbd4286d15d57fd
3016647  609393-b92d487037ec447db1e3ddf977709a52
3016697  562275-5b2550a902f14543a77ca64eccdce8f8
3016698  591582-61f9e9bfb2dd461989dacc9f5b76371b

[610 rows x 1 columns]

In [71]:
Cancelled_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 610 entries, 2943190 to 3016698
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   trip_id  610 non-null    object
dtypes: object(1)
memory usage: 9.5+ KB

In [73]:
Not_cancelled_trips = aggregated_data[aggregated_data['trip_id'].notna() & ~aggregated_data['trip_id'].isin(Cancelled_trips['trip_id'])]

In [54]:
Not_cancelled_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15489 entries, 5771 to 5407873
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   session_id               15489 non-null  object
 1   user_id                  15489 non-null  int64
 2   trip_id                  15489 non-null  object
 3   session_start            15489 non-null  datetime64[ns]
 4   session_end              15489 non-null  datetime64[ns]
 5   flight_discount          15489 non-null  bool
 6   hotel_discount           15489 non-null  bool
 7   flight_discount_amount   2309 non-null   float64
 8   hotel_discount_amount    2142 non-null   float64
 9   flight_booked            15489 non-null  bool
 10  hotel_booked             15489 non-null  bool
 11  page_clicks              15489 non-null  int64
 12  cancellation             15489 non-null  bool
 13  birthdate                15489 non-null  object
 14  gender                   15489 non-null  object
 15  married                  15489 non-null  bool
 16  has_children             15489 non-null  bool
 17  home_country             15489 non-null  object
 18  home_city                15489 non-null  object
 19  home_airport             15489 non-null  object
 20  home_airport_lat         15489 non-null  float64
 21  home_airport_lon         15489 non-null  float64
 22  sign_up_date             15489 non-null  object
 23  origin_airport           13157 non-null  object
 24  destination              13157 non-null  object
 25  destination_airport      13157 non-null  object
 26  seats                    13157 non-null  float64
 27  return_flight_booked     13157 non-null  object
 28  departure_time           13157 non-null  datetime64[ns]
 29  return_time              12581 non-null  datetime64[ns]
 30  checked_bags             13157 non-null  float64
 31  trip_airline             13157 non-null  object
 32  destination_airport_lat  13157 non-null  float64
 33  destination_airport_lon  13157 non-null  float64
 34  base_fare_usd            13157 non-null  float64
 35  hotel_name               13896 non-null  object
 36  nights                   13896 non-null  float64
 37  rooms                    13896 non-null  float64
 38  check_in_time            13896 non-null  datetime64[ns]
 39  check_out_time           13896 non-null  datetime64[ns]
 40  hotel_per_room_usd       13896 non-null  float64
dtypes: bool(7), datetime64[ns](6), float64(12), int64(2), object(14)
memory usage: 4.2+ MB

In [52]:
aggregated_data[aggregated_data['trip_id'].notna()]

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
5771,415581-55c15c449de944e3b8c8513aa92c314e,415581,415581-ab0de8a88cd54218a48fa62c89a693ca,2023-01-11 07:12:00,2023-01-11 07:15:29,False,False,NaN,NaN,True,...,United Airlines,36.124,-86.678,234.28,Extended Stay - nashville,10.0,1.0,2023-01-25 10:32:13.965,2023-02-04 11:00:00,64.0
5982,421515-45f7420a10f748a5b8a39988a16c3e99,421515,421515-4755d420c4d94fed89859f2045598310,2023-01-11 19:11:00,2023-01-11 19:15:50,False,False,NaN,NaN,True,...,Delta Air Lines,53.667,-113.467,208.74,Best Western - edmonton,1.0,1.0,2023-01-18 18:29:35.700,2023-01-20 11:00:00,238.0
6399,432637-a2aa3ed89e5a44f9bc1537eeb3df4672,432637,432637-4e4272731eaf464496275fd6b9b1e6ee,2023-01-11 19:31:00,2023-01-11 19:33:52,False,False,NaN,NaN,True,...,Alaska Airlines,45.589,-122.597,506.19,Starwood - portland,1.0,1.0,2023-01-18 16:26:47.355,2023-01-20 11:00:00,158.0
7725,463698-0b47f266874f472db3d3ba79d38ba811,463698,463698-a4312f80500f48cc8352766c6a6410cf,2023-01-11 21:47:00,2023-01-11 21:50:26,False,False,NaN,NaN,True,...,Singapore Airlines,29.607,-95.159,187.34,InterContinental - houston,1.0,1.0,2023-01-20 18:23:14.640,2023-01-22 11:00:00,118.0
7959,468666-3d0476e467b6449aa0507f8e4cea86b1,468666,468666-1174777ece0c4490a878b449f18690d2,2023-01-11 07:37:00,2023-01-11 07:39:28,False,False,NaN,NaN,True,...,American Airlines,32.820,-97.362,339.74,Crowne Plaza - fort worth,1.0,1.0,2023-01-17 15:21:48.600,2023-01-19 11:00:00,72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5404806,522532-35f2de2f0a1946358e1d617bffec1f24,522532,522532-7b074e7884ea4fdba2ce5971cfd2910f,2023-01-10 17:14:00,2023-01-10 17:16:16,False,False,NaN,NaN,True,...,Air Canada,43.862,-79.370,1265.31,Crowne Plaza - toronto,3.0,2.0,2023-01-20 22:23:44.385,2023-01-24 11:00:00,76.0
5404859,522585-3677d1c62e0e49f69b82f1e60e800baa,522585,522585-17229a2337cd4abcad30a3183abe466b,2023-01-10 09:42:00,2023-01-10 09:44:46,False,False,NaN,NaN,True,...,British Airways,40.640,-73.779,545.62,Conrad - new york,2.0,1.0,2023-01-16 13:05:43.980,2023-01-19 11:00:00,105.0
5405035,522761-20a0f600b5ce4131bc85c43546169cf4,522761,522761-0be9e41e404847619e1495fd95274420,2023-01-10 21:19:00,2023-01-10 21:21:28,False,False,NaN,NaN,True,...,American Airlines,35.214,-80.943,564.57,Crowne Plaza - charlotte,1.0,2.0,2023-01-18 15:50:56.265,2023-01-20 11:00:00,506.0
5405074,522800-f05e78aafe834cfcb81346b9f7ff6607,522800,522800-4625724ec82b4e3e942278c92bacbdf9,2023-01-10 20:36:00,2023-01-10 20:39:20,False,False,NaN,NaN,True,...,Conviasa,29.529,-98.279,467.87,Accor - san antonio,4.0,1.0,2023-01-17 12:10:05.205,2023-01-22 11:00:00,293.0
5407873,181157-0313da17625745eabc42a83a14b98ce2,181157,181157-9d86219fb6574ef291b265f78e291c04,2023-01-11 07:36:00,2023-01-11 07:41:15,True,False,0.15,NaN,True,...,Air France,35.393,-97.601,536.03,Crowne Plaza - oklahoma city,7.0,4.0,2023-01-16 09:50:38.130,2023-01-23 11:00:00,164.0

In [82]:
Not_cancelled_trips.info() ## session_base

<class 'pandas.core.frame.DataFrame'>
Index: 15489 entries, 5771 to 5407873
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   session_id               15489 non-null  object
 1   user_id                  15489 non-null  int64
 2   trip_id                  15489 non-null  object
 3   session_start            15489 non-null  datetime64[ns]
 4   session_end              15489 non-null  datetime64[ns]
 5   flight_discount          15489 non-null  bool
 6   hotel_discount           15489 non-null  bool
 7   flight_discount_amount   2309 non-null   float64
 8   hotel_discount_amount    2142 non-null   float64
 9   flight_booked            15489 non-null  bool
 10  hotel_booked             15489 non-null  bool
 11  page_clicks              15489 non-null  int64
 12  cancellation             15489 non-null  bool
 13  birthdate                15489 non-null  object
 14  gender                   15489 non-null  object
 15  married                  15489 non-null  bool
 16  has_children             15489 non-null  bool
 17  home_country             15489 non-null  object
 18  home_city                15489 non-null  object
 19  home_airport             15489 non-null  object
 20  home_airport_lat         15489 non-null  float64
 21  home_airport_lon         15489 non-null  float64
 22  sign_up_date             15489 non-null  object
 23  origin_airport           13157 non-null  object
 24  destination              13157 non-null  object
 25  destination_airport      13157 non-null  object
 26  seats                    13157 non-null  float64
 27  return_flight_booked     13157 non-null  object
 28  departure_time           13157 non-null  datetime64[ns]
 29  return_time              12581 non-null  datetime64[ns]
 30  checked_bags             13157 non-null  float64
 31  trip_airline             13157 non-null  object
 32  destination_airport_lat  13157 non-null  float64
 33  destination_airport_lon  13157 non-null  float64
 34  base_fare_usd            13157 non-null  float64
 35  hotel_name               13896 non-null  object
 36  nights                   13896 non-null  float64
 37  rooms                    13896 non-null  float64
 38  check_in_time            13896 non-null  datetime64[ns]
 39  check_out_time           13896 non-null  datetime64[ns]
 40  hotel_per_room_usd       13896 non-null  float64
 41  session_duration         15489 non-null  float64
 42  num_flights              15489 non-null  int64
 43  hotel_expenses           13896 non-null  float64
 44  flight_fare              1889 non-null   float64
 45  time_after_booking       13157 non-null  float64
 46  distance_flown           13157 non-null  float64
dtypes: bool(7), datetime64[ns](6), float64(17), int64(3), object(14)
memory usage: 4.9+ MB

In [35]:
aggregated_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49211 entries, 411 to 5407873
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   session_id               49211 non-null  object
 1   user_id                  49211 non-null  int64
 2   trip_id                  16702 non-null  object
 3   session_start            49211 non-null  datetime64[ns]
 4   session_end              49211 non-null  datetime64[ns]
 5   flight_discount          49211 non-null  bool
 6   hotel_discount           49211 non-null  bool
 7   flight_discount_amount   8282 non-null   float64
 8   hotel_discount_amount    6205 non-null   float64
 9   flight_booked            49211 non-null  bool
 10  hotel_booked             49211 non-null  bool
 11  page_clicks              49211 non-null  int64
 12  cancellation             49211 non-null  bool
 13  birthdate                49211 non-null  object
 14  gender                   49211 non-null  object
 15  married                  49211 non-null  bool
 16  has_children             49211 non-null  bool
 17  home_country             49211 non-null  object
 18  home_city                49211 non-null  object
 19  home_airport             49211 non-null  object
 20  home_airport_lat         49211 non-null  float64
 21  home_airport_lon         49211 non-null  float64
 22  sign_up_date             49211 non-null  object
 23  origin_airport           14270 non-null  object
 24  destination              14270 non-null  object
 25  destination_airport      14270 non-null  object
 26  seats                    14270 non-null  float64
 27  return_flight_booked     14270 non-null  object
 28  departure_time           14270 non-null  datetime64[ns]
 29  return_time              13652 non-null  datetime64[ns]
 30  checked_bags             14270 non-null  float64
 31  trip_airline             14270 non-null  object
 32  destination_airport_lat  14270 non-null  float64
 33  destination_airport_lon  14270 non-null  float64
 34  base_fare_usd            14270 non-null  float64
 35  hotel_name               14726 non-null  object
 36  nights                   14726 non-null  float64
 37  rooms                    14726 non-null  float64
 38  check_in_time            14726 non-null  datetime64[ns]
 39  check_out_time           14726 non-null  datetime64[ns]
 40  hotel_per_room_usd       14726 non-null  float64
dtypes: bool(7), datetime64[ns](6), float64(12), int64(2), object(14)
memory usage: 13.5+ MB

In [58]:
aggregated_data.loc[:,'session_duration'] = (aggregated_data['session_end'] - aggregated_data['session_start']).dt.total_seconds() / 60

In [59]:
user_base_session = aggregated_data.groupby('user_id').agg(
    num_sessions=('session_id', 'nunique'),
    sum_page_clicks=('page_clicks', 'sum'),
    avg_session_duration=('session_duration', 'mean')
).reset_index()

In [75]:
user_base_session.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               5998 non-null   int64
 1   num_sessions          5998 non-null   int64
 2   sum_page_clicks       5998 non-null   int64
 3   avg_session_duration  5998 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 187.6 KB

In [83]:
Not_cancelled_trips['session_start'] = pd.to_datetime(Not_cancelled_trips['session_start'])
Not_cancelled_trips['session_end'] = pd.to_datetime(Not_cancelled_trips['session_end'])
Not_cancelled_trips['departure_time'] = pd.to_datetime(Not_cancelled_trips['departure_time'])

# Filter non-cancelled trips
\

# Compute required columns
Not_cancelled_trips['num_flights'] = np.where(
    (Not_cancelled_trips['return_flight_booked']) & (Not_cancelled_trips['flight_booked']),
    2,
    np.where((Not_cancelled_trips['return_flight_booked']) | (Not_cancelled_trips['flight_booked']), 1, 0)
)
Not_cancelled_trips['hotel_expenses'] = Not_cancelled_trips['hotel_per_room_usd'] * Not_cancelled_trips['nights'] * Not_cancelled_trips['rooms']
Not_cancelled_trips['hotel_expenses'] *= np.where(Not_cancelled_trips['hotel_discount'], 1 - Not_cancelled_trips['hotel_discount_amount']/100, 1)
Not_cancelled_trips['flight_fare'] = Not_cancelled_trips['base_fare_usd'] * (1 - Not_cancelled_trips['flight_discount_amount']/100)
Not_cancelled_trips['time_after_booking'] = (Not_cancelled_trips['departure_time'] - Not_cancelled_trips['session_end']).dt.total_seconds() / 3600

# Haversine formula for distance calculation
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in kilometers
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    return R * c

Not_cancelled_trips['distance_flown'] = haversine(
    Not_cancelled_trips['home_airport_lat'],
    Not_cancelled_trips['home_airport_lon'],
    Not_cancelled_trips['destination_airport_lat'],
    Not_cancelled_trips['destination_airport_lon']
)

# Group by 'user_id' and calculate aggregates
user_base_trips = Not_cancelled_trips.groupby('user_id').agg(
    num_trips = ('trip_id','count'),
    num_flights=('num_flights', 'sum'),
    hotel_expenses=('hotel_expenses', 'sum'),
    flight_fare=('flight_fare', 'sum'),
    avg_time_after_booking=('time_after_booking', 'mean'),
    avg_km_flown=('distance_flown', 'mean'),
    avg_bags=('checked_bags', 'mean')
).reset_index()

# Display the resulting DataFrame
print(user_base_trips)

      user_id  num_trips  num_flights  hotel_expenses  flight_fare  \
0       23557          2            0       3800.6850     0.000000
1       94883          2            4        130.0000     0.000000
2      101486          2            2       2199.0000     0.000000
3      101961          5           10       2429.0000    49.620330
4      118043          5            6       5809.0545     0.000000
...       ...        ...          ...             ...          ...
5437   785186          2            4        184.0000     0.000000
5438   792549          4            8        144.0000     0.000000
5439   796032          2            4       1261.0000     0.000000
5440   801660          3            6        872.0000   145.910805
5441   811077          1            2        852.0000     0.000000

      avg_time_after_booking  avg_km_flown  avg_bags
0                        NaN           NaN       NaN
1                 171.642222   1453.666128  0.500000
2                 216.956111    965.340568  0.000000
3                 150.176889   1321.684183  0.400000
4                 225.009722   2455.024509  1.000000
...                      ...           ...       ...
5437               90.164722   1040.117623  0.000000
5438              130.304097   1437.965220  0.500000
5439              176.448333   1950.898056  0.500000
5440              153.531667    721.127119  0.333333
5441              254.005278   3184.843425  0.000000

[5442 rows x 8 columns]

<ipython-input-83-9a2c8365dc00>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Not_cancelled_trips['session_start'] = pd.to_datetime(Not_cancelled_trips['session_start'])
<ipython-input-83-9a2c8365dc00>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Not_cancelled_trips['session_end'] = pd.to_datetime(Not_cancelled_trips['session_end'])
<ipython-input-83-9a2c8365dc00>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Not_cancelled_trips['departure_time'] = pd.to_datetime(Not_cancelled_trips['departure_time'])
<ipython-input-83-9a2c8365dc00>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Not_cancelled_trips['num_flights'] = np.where(
<ipython-input-83-9a2c8365dc00>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Not_cancelled_trips['hotel_expenses'] = Not_cancelled_trips['hotel_per_room_usd'] * Not_cancelled_trips['nights'] * Not_cancelled_trips['rooms']
<ipython-input-83-9a2c8365dc00>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Not_cancelled_trips['hotel_expenses'] *= np.where(Not_cancelled_trips['hotel_discount'], 1 - Not_cancelled_trips['hotel_discount_amount']/100, 1)
<ipython-input-83-9a2c8365dc00>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Not_cancelled_trips['flight_fare'] = Not_cancelled_trips['base_fare_usd'] * (1 - Not_cancelled_trips['flight_discount_amount']/100)
<ipython-input-83-9a2c8365dc00>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Not_cancelled_trips['time_after_booking'] = (Not_cancelled_trips['departure_time'] - Not_cancelled_trips['session_end']).dt.total_seconds() / 3600
<ipython-input-83-9a2c8365dc00>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Not_cancelled_trips['distance_flown'] = haversine(

In [84]:
user_base_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5442 entries, 0 to 5441
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 5442 non-null   int64
 1   num_trips               5442 non-null   int64
 2   num_flights             5442 non-null   int64
 3   hotel_expenses          5442 non-null   float64
 4   flight_fare             5442 non-null   float64
 5   avg_time_after_booking  5045 non-null   float64
 6   avg_km_flown            5045 non-null   float64
 7   avg_bags                5045 non-null   float64
dtypes: float64(5), int64(3)
memory usage: 340.2 KB

In [42]:
Not_cancelled_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16092 entries, 5771 to 5407873
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   session_id               16092 non-null  object
 1   user_id                  16092 non-null  int64
 2   trip_id                  16092 non-null  object
 3   session_start            16092 non-null  datetime64[ns]
 4   session_end              16092 non-null  datetime64[ns]
 5   flight_discount          16092 non-null  bool
 6   hotel_discount           16092 non-null  bool
 7   flight_discount_amount   2402 non-null   float64
 8   hotel_discount_amount    2229 non-null   float64
 9   flight_booked            16092 non-null  bool
 10  hotel_booked             16092 non-null  bool
 11  page_clicks              16092 non-null  int64
 12  cancellation             16092 non-null  bool
 13  birthdate                16092 non-null  object
 14  gender                   16092 non-null  object
 15  married                  16092 non-null  bool
 16  has_children             16092 non-null  bool
 17  home_country             16092 non-null  object
 18  home_city                16092 non-null  object
 19  home_airport             16092 non-null  object
 20  home_airport_lat         16092 non-null  float64
 21  home_airport_lon         16092 non-null  float64
 22  sign_up_date             16092 non-null  object
 23  origin_airport           13710 non-null  object
 24  destination              13710 non-null  object
 25  destination_airport      13710 non-null  object
 26  seats                    13710 non-null  float64
 27  return_flight_booked     13710 non-null  object
 28  departure_time           13710 non-null  datetime64[ns]
 29  return_time              13113 non-null  datetime64[ns]
 30  checked_bags             13710 non-null  float64
 31  trip_airline             13710 non-null  object
 32  destination_airport_lat  13710 non-null  float64
 33  destination_airport_lon  13710 non-null  float64
 34  base_fare_usd            13710 non-null  float64
 35  hotel_name               14309 non-null  object
 36  nights                   14309 non-null  float64
 37  rooms                    14309 non-null  float64
 38  check_in_time            14309 non-null  datetime64[ns]
 39  check_out_time           14309 non-null  datetime64[ns]
 40  hotel_per_room_usd       14309 non-null  float64
 41  num_flights              16092 non-null  int64
 42  hotel_expenses           14309 non-null  float64
 43  flight_fare              1970 non-null   float64
 44  time_after_booking       13710 non-null  float64
 45  distance_flown           13710 non-null  float64
dtypes: bool(7), datetime64[ns](6), float64(16), int64(3), object(14)
memory usage: 5.0+ MB

In [91]:
user_metrics = pd.merge(user_base_session, df_users, on='user_id', how='left')
user_metrics = pd.merge(user_metrics, user_base_trips, on='user_id', how='left')

In [95]:
user_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 5998 non-null   int64
 1   num_sessions            5998 non-null   int64
 2   sum_page_clicks         5998 non-null   int64
 3   avg_session_duration    5998 non-null   float64
 4   birthdate               5998 non-null   object
 5   gender                  5998 non-null   object
 6   married                 5998 non-null   bool
 7   has_children            5998 non-null   bool
 8   home_country            5998 non-null   object
 9   home_city               5998 non-null   object
 10  home_airport            5998 non-null   object
 11  home_airport_lat        5998 non-null   float64
 12  home_airport_lon        5998 non-null   float64
 13  sign_up_date            5998 non-null   object
 14  num_trips               5998 non-null   float64
 15  num_flights             5998 non-null   float64
 16  hotel_expenses          5998 non-null   float64
 17  flight_fare             5998 non-null   float64
 18  avg_time_after_booking  5998 non-null   float64
 19  avg_km_flown            5998 non-null   float64
 20  avg_bags                5998 non-null   float64
 21  age                     5998 non-null   int32
dtypes: bool(2), float64(10), int32(1), int64(3), object(6)
memory usage: 925.6+ KB

In [94]:


# Step 2: Calculate additional columns
user_metrics['age'] = pd.to_datetime(user_metrics['birthdate']).dt.year
user_metrics['num_trips'] = user_metrics['num_trips'].fillna(0)
user_metrics['num_flights'] = user_metrics['num_flights'].fillna(0)
user_metrics['hotel_expenses'] = user_metrics['hotel_expenses'].fillna(0)
user_metrics['flight_fare'] = user_metrics['flight_fare'].fillna(0)
user_metrics['avg_time_after_booking'] = user_metrics['avg_time_after_booking'].fillna(0)
user_metrics['avg_km_flown'] = user_metrics['avg_km_flown'].fillna(0)
user_metrics['avg_bags'] = user_metrics['avg_bags'].fillna(0)

In [96]:
user_metrics.to_csv('/content/sample_data/customers.csv',index=False)